body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.euiPopover ,.euiPopover__anchor {
  display: block !important;
  width: 100% !important;}

  .euiFieldText ,.euiSelect, .euiFieldPassword, .euiTextArea,.euiFieldSearch {
    outline: none !important;
    background-color: white;
  }
  
.customMenu .euiContextMenu {
  width: 100%;
}
